@import url('https://fonts.googleapis.com/css?family=Roboto:700&display=swap');
*{
	padding: 0;
	margin: 0;
}
.wrapper{
	background: url(bt.jpg) no-repeat;
	background-size: cover;
	height: 100vh;
}
.navbar{
	position: fixed;
	height: 80px;
	width: 100%;
	top: 0;
	left: 0;
	background: rgba(2, 1, 1, 0.589);
}
.navbar .logo{
	width: 140px;
	height: 100px;
	padding: 20px 100px;
}
.navbar ul{
	float: right;
	margin-right: 20px;
}
.navbar ul li{
	list-style: none;
	margin: 0 8px;
	display: inline-block;
	line-height: 80px;
}
.navbar ul li a{
	font-size: 20px;
	font-family:"Comic Sans MS", cursive, sans-serif;
	color: rgb(218, 227, 233);
	padding: 6px 13px;
	text-decoration: none;
	transition: .4s;
}
.navbar ul li a.active,
.navbar ul li a:hover{
	background: rgb(53, 54, 33);
	border-radius: 2px;
}
.wrapper .center{
	position: absolute;
	left: 50%;
	top: 55%;
	transform: translate(-50%, -50%);
	font-family: sans-serif;
	user-select: none;
}
.center h1{
	color: #131010;
	font-size: 50px;
	font-family:"cursive";
	text-transform: uppercase;
	width: 900px;
	font-weight: bold;
	text-align: center;
}
.center .buttons{
	margin: 35px 280px;
	font-family:"sans-serif";
} 
.buttons button{
	height: 50px;
	width: 150px;
	font-size: 18px;
	font-weight: 600;
	color: #0b0b0ebe;
	background: rgb(133, 145, 151);
	outline: none;
	cursor: pointer;
	border: 1px solid #2e3033;
	border-radius: 25px;
	transition: .4s;
}
.buttons .btn2{
	margin-left: 25px;
}
.buttons button:hover{
	background: #fdffddf8;
}